<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% form_theme form 'bootstrap_4_layout.html.twig' %}
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
